
@{
    ViewData["Title"] = "Banking";
 
    
     Layout = "_Layout1";

}
<body>
    <section style="padding-top: 140px;" id="feature" class="about">
      <div  class="container">

        <div class="row justify-content-end">
        

          <div class="col-lg-6 video-box align-self-baseline position-relative">
            <img style="  border-radius: 12px;  width:500px; height: 300px !important;"src="assets/img/deposit.jpg" class="img-fluid" alt="">
            
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3 style="color:#ff7f50">Deposit</h3>
            <p class="fst-italic">
              Deposit funds
            </p>
               <h5 style="color:#ff7f50"><strong>Click here to Deposit</strong></h5>       
                    <a asp-area="Views" asp-controller="Transaction" asp-action="Deposit"><input type="Submit" value="Deposit" class = "btn1"></a>
                   
            <p>
             
            </p>
          </div>

        </div>

      </div>
      </section>
     

      
      <section id="feature" class="about">
     <div style="border-color:#ff7f50; border-width:10px;" class="container">

        <div class="row justify-content-end">
        

          <div class="col-lg-6 video-box align-self-baseline position-relative">
            <img style="  border-radius: 12px;  width:485px; height: 300px !important;"src="assets/img/WithDraw.jpg" class="img-fluid" alt="">
            
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3 style="color:#ff7f50">WithDraw</h3>
            <p class="fst-italic">
           Withdraw Money
            </p>
               <h5 style="color:#ff7f50"><strong>Click here to Withdraw </strong></h5>       
                    <a asp-area="Views" asp-controller="Transaction" asp-action="WithDraw"><input type="Submit" value="WithDraw" class = "btn1"></a>
            <p>
             
            </p>
          </div>

        </div>

      </div>
      </section>
       <section id="feature" class="about">
     <div style="border-color:#ff7f50; border-width:10px;" class="container">

        <div class="row justify-content-end">
        

          <div class="col-lg-6 video-box align-self-baseline position-relative">
            <img style="  border-radius: 12px;  height: 300px !important;"src="assets/img/Freeze.png" class="img-fluid" alt="">
            
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3 style="color:#ff7f50">Freeze Account</h3>
            <p class="fst-italic">
                Freeze Account
            </p>
               <h5 style="color:#ff7f50"><strong>Click here to Freeze Account</strong></h5>       
                    <a asp-area="Views" asp-controller="Account" asp-action="FreezeAccount"><input type="Submit" value="FreezeAccount" class = "btn1"> </a>
            <p>
             
            </p>
          </div>

        </div>

      </div>
      </section>
     
    </body>